[2019-09-01 15:07] GeekyEggo opened #2 "Add "Sampler" action"
## Background
Similar to the GoXLR sampler, it would be nice if there were an "all-in-one" action that enabled recording and playing a sample. As there isn't a "Clear" button, it is worth considering how we overwrite the recorded sample; as a proposal, the flow could be as follows.

## Interaction
**When... there is not a recording**
1. Recording starts on button down.
1. Recording stops on button

[2019-09-12 20:21] Kappinski opened #3 "Please add a global Stop"
Finally someone who adds a playlist <3 Thank you.
But what I need is a "Stop button" that stops all playing tracks from Sound Deck. To simply push the same button again is not an option for me as I use a multi action that is a collection of global stops for all the other audio stuff happening.
Sound Deck would integrate perfectly with that option on a separate button.

[2019-09-12 20:23] Kappinski opened #4 "Please add a volume slider"
Please add a volume slider. I want to set the volume of the tracks before the audio is sent to the Audio Device.

[2019-09-14 00:41] GeekyEggo opened #5 "Action instances contain incorrect settings"
Steps to replicate bug:
1. Create a `Play Action` at location `[1,1]` (ref: action 1)
1. 1. Assign an audio track.
1. Create a 2nd `Play Action` at location `[1,2]` (ref: action 2)
1. 1. Assign a different audio track.
1. Remove action 1
1. Move action 2 to `[1,1]`
1. Audio track is incorrect

[2019-09-24 14:37] Toastbroti opened #6 "Allow audio output to multiple devices"
For example your Speaker and a virtual audio cable

[2019-09-25 07:23] GeekyEggo opened #7 "Add option to continuously play audio clips"
As an enhancement of the `Play Audio` action, it would be nice if it were possible to continuously play audio tracks within a playlist, without the need to press the button again.

**N.B.** This option would only be available when using the `Start / Stop` action.

e.g.
1. Press button.
    1. Song A plays
    1. Song B plays
1. Press button
    1. Song B stops
1. Press button
    1. Stop C plays

[2019-09-29 20:37] GeekyEggo commented on #6
Hey @Toastbroti, this is something that would need a little work on the UI side of things, but definitely achievable. There's a change I'm hoping Elgato can implement to streamline this a little; until then I might have to put this on hold.

[2019-10-01 20:59] #3 closed

[2019-10-20 16:18] GeekyEggo commented on #3
[issue3_rc1.zip](https://github.com/GeekyEggo/SoundDeck/files/3748056/issue3_rc1.zip)

[2020-04-07 00:04] GeekyEggo opened #10 "Play Clip "Loop All / Stop" action"
### Description
The current `Loop / Stop` action relates to a single file; it would be nice if there were an option to loop the entire playlist as well.

### Expected Behaviour
#### Setup
* With a playlist of `n` files.
* And an action of "Loop All / Stop"

#### Interaction (Action Presses)
1. Plays clips `1..n` in order, looping back to `1..n`, etc.
2. Playback stops.
3. Loop resumes from beginni

[2020-04-12 15:11] #10 closed

[2020-04-12 20:53] #7 closed

[2020-04-19 17:33] newtronicDesign opened #11 "illusive = signs"

[2020-04-19 17:34] #11 closed

[2020-04-19 17:34] GeekyEggo commented on #11
Fixed as part of 7e95cc706df99a513288d98bd4ff5a619c427559, thanks @newtronicDesign 😉

[2020-04-22 18:19] GeekyEggo opened #12 "Ability to "Load last track" when Stream Deck opens"
## Background
It is possible to have a playlist of tracks within the Play Audio action; these tracks are either played in `Sequential` or `Random` order based on the selected `PlaylistOrderType`. Currently, upon Stream Deck starting (i.e. after a system restart), the first track to be played as part of the playlist will be track one.

## Enhancement
It would be nice if there were an option to "Loa

[2020-08-24 00:42] systemNEO commented on #4
Hi there,

currently version 1.0.0 is available at Elgato Actions. Do you have a plan for releasing 1.1.0 (with advanced order features for play) and the volume slider?

Is there a workaround to adjust the volume by another way?

Best
Hape

[2020-09-29 19:20] afatdeafkid opened #15 "Error when using Clip function"
I use a wireless gaming headset, when I try to set the clip function to clip last 30 seconds of audio it gives me the exclamation error. I have tried setting it to use the "realtek audio" option which I think is the actual 2.5mm audio headphone jack. When I select this it works, but doesnt record anything as I dont have a wired headset. I have tried setting app preferences to have sound deck use m

[2020-09-29 19:51] afatdeafkid commented on #15
seems to work as long as I turn off the encode to mp3 feature, not sure why I didn't try that sooner

[2020-09-29 19:51] #15 closed

[2020-10-20 14:41] Michael-36 opened #17 "time gap between mp3 recordings"
Hi,
I'm Michael and I use the Elgato Stream Deck with your plugin "Sound Desk". The plugin works really well and I am very happy with it.

I have a question about what I can do to make better use of it:

My problem is this:
I am recording several MP3 files. Each recording takes about 20 minutes. When I stop the first recording and immediately start the recording of the second file, everything seem

[2020-10-20 15:06] GeekyEggo commented on #17
Hey @Michael-36, thanks for posing your question; this is definitely an edge case but let's see what we can do to get to the root of the problem.

You mentioned that encoding can take take a few seconds, approximately the same as the difference in recordings. Would it be possible for you to test your scenario with MP3 encoding turned off? If the problem persists, we have narrowed it down one-step.

[2020-10-20 16:02] Michael-36 commented on #17
Hi @GeekyEggo,
I have tested the recording MP3 encoding turned off:
Then the gap is really small. About one second, which would be fine for me.

[2020-11-05 23:40] RonnieBlaze opened #18 "feature request push to talk key"
I use push to talk in a lot of games, it would be nice to be able to set a push to talk key, so it could be "held" while the sound clip is playing.

[2020-11-15 19:22] GeekyEggo commented on #18
Hi @RonnieBlaze, key-bindings isn't something planned for SoundDeck at this stage, however you may be able to achieve what you're looking to do by using SuperMacro (a plug-in by BarRaider) and SoundDeck combined in a Multi-action.

[2020-11-15 19:22] #18 closed

[2020-12-13 11:14] Herzenloser opened #20 "Download doesn't work"
When I click Download in my Streamdeck app, it starts the download but never ends
![before](https://user-images.githubusercontent.com/75933164/102010185-c22d1a80-3d3c-11eb-9c76-18e1160b3d30.png)
![after](https://user-images.githubusercontent.com/75933164/102010187-c35e4780-3d3c-11eb-8cb7-286da8293573.png)

[2020-12-13 16:47] GeekyEggo commented on #20
Hey @Herzenloser, would be good to check a few things to try and figure out what's going on.

1. Are you able to install _any_ plug-ins from the search results?
2. If you navigate to `%APPDATA%\Elgato\StreamDeck\Plugins`, is there a folder called `com.geekyeggo.sounddeck.sdPlugin`?
3. Checking the logs at `%APPDATA%\Elgato\StreamDeck\logs\`:
3.a. Is there a log file called `com.geekyeggo.sounddeck

[2020-12-27 20:30] Woodham commented on #2
Hi - I realise there hasn't been  any activity on this for a while but on the off-chance you were considering implemeting something like this (which I think would be really cool) - perhaps a workflow like this would be simpler?

* On Key Down note the timestamp

* On Key Up;
    1. if the time since Key Down was greater than x second(s)  perform a "clip" action to a specific filename (overwriting

[2020-12-28 00:25] GeekyEggo commented on #2
Happy holidays @Woodham, this feature is currently in development if you'd be interested in testing it?

[2021-01-02 21:21] Woodham commented on #2
Hi @GeekyEggo - happy new year!

Apologies for the delay but sure I'd be happy to test out the changes.

[2021-01-12 18:53] GeekyEggo commented on #20
Closing due to inactivity.

[2021-01-12 18:53] #20 closed

[2021-01-12 18:55] GeekyEggo commented on #2
@Woodham, great to hear. The latest beta (v1.1.6) can be [downloaded here](https://www.dropbox.com/s/ky0xs07h7oeoij0/com.geekyeggo.sounddeck-1.1.6.streamDeckPlugin?dl=0). Let me know if you encounter any oddities.

[2021-01-18 19:41] #2 closed

[2021-01-19 23:48] GeekyEggo commented on #4
@Kappinski and @systemNEO this will shortly be ready for testing if you're interested? I know it's been a while 😅

[2021-01-24 22:38] #4 closed

[2021-01-24 22:41] GeekyEggo opened #23 "An an action to allow for setting app audio device"
Similar to Windows "App volume device preferences", having an action that would allow for quickly swapping actions would be useful. As a minimum.

- Allow the user to specify the process name.
- Allow the user to use the foreground process.

[2021-01-24 22:41] GeekyEggo commented on #23
![image](https://user-images.githubusercontent.com/1429781/105646019-58ed0b00-5e95-11eb-93e7-7de8ecf465a7.png)

[2021-01-27 17:13] #23 closed

[2021-01-27 17:17] GeekyEggo opened #24 "Investigate updating format of .csproj to enable GH actions"
The csproj for `SoundDeck.Plugin.Windows` currently uses an older format, as it's a .NET Framework project. If possible, it would be beneficial if the project were brought up to date to enable better CI with GH actions, and `dotnet`.

[2021-01-28 16:31] finnsea opened #25 "Play Audio - Play from Folder"
For the Play Audio action, it would be awesome if we could just point it at a directory and play through audio files in that directory, instead of adding files in individually. This way, when adding new tracks to a playlist, we wouldn't need to go update the action in Stream Deck.

[2021-01-29 05:37] finnsea commented on #25
Awesome. If I get some free time this weekend I might play around with getting it added in as well and make a PR for ya. Thanks!

[2021-01-31 19:03] GeekyEggo commented on #24
Easier than anticipated.

[2021-01-31 19:03] #24 closed

[2021-01-31 19:07] GeekyEggo opened #26 "Improve decoupling of audio players, and playlists"
To enable better support for playlist sources, i.e. folders (#25), the concept of a `PlaylistPlayer` should be decoupled further. Instead, maybe the concept of a `PlaylistController` could be introduced.

[code]

A lot of properties required from the current `protected IAudioPlayer` are exposed as new properties on a `PlaylistPlayer`; this creates a lot of duplicate properties and events. Instead

[2021-02-07 18:27] GeekyEggo opened #27 "Update to NAudio 2.0.0"
NAudio v2.0.0 was recently released and adopts a more modular approach to how the libraries are packaged; this is good, and aids in the hopeful intention of being able to update SoundDeck to .NET (i.e. cross platform) in the future.

https://github.com/naudio/NAudio/releases/tag/v2.0.0
https://markheath.net/post/naudio-2-plans

[2021-03-03 22:51] #26 closed

[2021-03-05 12:11] GeekyEggo opened #28 "Add default options for playback"
It should be possible to select "Default" and "Default (Communications)" for playback devices.

This impacts:
- Play Audio action
- Sampler action
- Set App Audio Device

[2021-03-07 17:05] #28 closed

[2021-03-23 03:06] ryantheleach opened #30 "SoundDeck Play Audio: Long press resets play next / cooldown?"
I have a series of sound effects that only make sense in close context, that play after one another.

I need an easy way to 'reset' the button for the next time I do the bit/gag.

What would be ideal, is an option for a cooldown, e.g. if it's been longer then a minute or something, reset to the start when i hit the button again.

elsewise, longpressing the button could force the first track to pla

[2021-03-23 17:53] GeekyEggo commented on #30
I like the idea of long-press, although I'm wondering if this could be solved by introducing a new [`Action` option](https://github.com/GeekyEggo/SoundDeck/wiki/Play-Audio). Currently there is `Loop All / Stop Reset` option which starts from the first audio clip, and continuously loops the playlist of audio clips until it is pressed for a 2nd time. Pressing the button for a 3rd time starts the con

[2021-03-24 19:09] ryantheleach commented on #30
Not for my usecase, no.

I need it to play a sequence, on cue, with some option to reset it when I want.

[2021-03-24 20:48] GeekyEggo commented on #30
Okay, a couple of questions;

1. When playing the sequence, do all clips get played?
2. After playing the sequence, would you prefer if it reset _every_ time?

[2021-03-25 07:48] ryantheleach commented on #30
Sorry my last reply was so brief, I was quickly replying on mobile.

Essentially, What I currently use Sound Deck is for the following:

Have a sequence of short sound fx tracks, (increasing in pitch) to add emphasis to a bullet point.

I currently have 10, as I usually never need that many. (ignite1-10.mp3)

However, it means I can only use the [bit (definition 2b)](https://www.learnersdictionary

[2021-03-26 11:08] ryantheleach opened #31 "Debugging and getting started for SoundDeck"
I know C# & Type/Javascript, however due to jumping in and out of multiple community projects, I don't have a lot of experience in any specific tool for initially setting up a repository.

I tried reading over the SharkDeck instructions to try to work out how to fork and jump into SoundDeck development, but didn't have a lot of luck in setting up the build / debug environment.

I'm sure I could sp

[2021-03-28 22:05] GeekyEggo commented on #30
@ryantheleach I appreciate your detailed response, your desired feature is much clearer now. I had plans of introducing long-press amongst other actions, so this is definitely something I'm interested in achieving. I'll give it some thought and update here in a few days.

[2021-03-28 22:08] GeekyEggo commented on #31
@ryantheleach it's odd that `SoundDeck.Plugin.Windows` couldn't be loaded. Have all NuGet packages been restored? SoundDeck has few dependencies, namely NAudio and SharpDeck. The overall structure

- SoundDeck.Core and SoundDeck.Plugin are .NET Standard libraries.
- SoundDeck.Plugin.Windows is a .NET Framework WPF app.

From recent attempts to create a GitHub action, I realised that I'm also refer

[2021-03-28 22:10] GeekyEggo commented on #17
@Michael-36 I'm sorry to say that due to time restraints I don't have any plans of fixing this in the foreseeable future; if you're encountering this problem, a possible workaround could be to have 2 separate actions, which you stop/start interchangeably. Less than ideal, but might help. Again, my apologies. :)

[2021-03-28 22:10] #17 closed

[2021-03-29 20:06] GeekyEggo opened #32 "Add logging"
https://www.reddit.com/r/StreamDeckSDK/comments/mfxf0i/is_there_a_way_for_a_plugin_to_intercept/

It would be useful to have basic logging for the following events;

- [ ]  Audio clip played.
  - The file location.
  - The device it was played on.
  - The volume.
- [ ] Audio clip saved.
  - The file location.
  - The device the audio was clipped for.
  - The duration.
- [ ] Recording saved.
  - Th

[2021-04-01 20:15] ryantheleach opened #33 "Ogg Audio Support"
Please add support for the Ogg Audio format, NAudio appears to support it. <3

[2021-04-04 17:47] #27 closed

[2021-04-04 17:49] GeekyEggo commented on #33
@ryantheleach this is now available as part of a separate branch; it would be great if you could download it, have a play, and let me know if you experience any problems.
https://github.com/GeekyEggo/SoundDeck/raw/33-ogg/dist/com.geekyeggo.sounddeck.streamDeckPlugin

[2021-04-04 17:50] #31 closed

[2021-04-04 17:50] ryantheleach commented on #33
I'll try it today, thanks

[2021-04-04 19:51] ryantheleach commented on #33
Running the file as-is without removing the old one resulted in existing (Sampler Action) buttons giving 'alerts' when pressed.

restarting streamdeck did not fix this.

Opening task manager revealed many many SoundDeck instances installed (probably from my earlier testing of my own streamdeck plugin, it appears that the (previous) version of SoundDeck does not close when StreamDeck is restarted,

[2021-04-04 19:55] ryantheleach commented on #33
So basically,
1. Ogg support works.
**2. Sampler buttons don't upgrade cleanly in this version.** but still work.
3. SoundDeck no longer leaves background processes running in **this** new version.

[2021-04-04 20:18] GeekyEggo commented on #33
Can you elaborate on the Samplers not upgrading cleanly?

For local development I'd recommend using the `npm run stop` command; this is a helper script within the `package.json` file that kills both the Stream Deck, and the Sound Deck executable process tree.

[2021-04-06 05:01] ryantheleach commented on #33
I'd been using fritzandfriends streamdecktoolkit, but thanks.

The Samplers were pre-existing samplers, but they started working at one point, not sure if it was the multiple sounddeck's that I killed, or creating a new sampler someone re-inited them.

I don't have a backup, nor 100% knowledge which version I was using before testing this, so I apologise how awkward it will be to recreate it, and

[2021-04-06 22:52] GeekyEggo commented on #33
I've attempted to replicate the sampler issues by;
1. Downgrading to the current version in the store.
2. Creating a sampler
3. Installing the beta

I haven't been able to replicate any issues, and tested with multiple scenarios; one key change in this beta is the added "Default" devices, although this seemed to be okay. I'll be merging this branch back into `main` soon.

[2021-04-06 22:56] GeekyEggo commented on #33
Looking at the [ `NAudio.Wave.AudioFileReader`](https://github.com/naudio/NAudio/blob/fb35ce8367f30b8bc5ea84e7d2529e172cf4c381/NAudio/AudioFileReader.cs#L60) class it appears that `aif[f]` format is also supported natively.

[2021-04-26 22:17] DanyRamdas opened #34 "Not recording any sound"
Hi what ever source I pick there is no recording off any sounds.

There are files but only 58 bytes (58 bytes) big.

Could you help me?

[2021-04-27 15:18] GeekyEggo commented on #34
Hi Dany, so we can get to the root of the problem I'll need to know a little more about your setup;

- What action are you attempting to record with?
- Is the capture device a Recording or Playback device?
- Is the Output Path a local drive?
- Is Encode To MP3 or Normalize Volume checked?

[2021-04-27 15:24] DanyRamdas commented on #34
Hi,

    What action are you attempting to record with?
    Clip Audio
    Is the capture device a Recording or Playback device?
    Playback device
    Is the Output Path a local drive?
    Yes
    Is Encode To MP3 or Normalize Volume checked?
    Yes, I have tried both options.

    The application that I am trying to record from is discord.
    Thus I am recording my playback device.

[2021-04-27 16:42] GeekyEggo commented on #34
Okay, and one more;
- In Discord, under "Voice & Video" settings, does the Output Device match the action's Capture Device?

[2021-04-27 17:27] DanyRamdas commented on #34
Your tip had helped. Now it is working.

Can I ask how the sound is recorded? Is it actively recording continuously my chosen audio playback device?
I ask this out an privacy stand point. Also is it possible to get access to that file If I had bad intentions.

[2021-04-27 18:01] GeekyEggo commented on #34
Great to hear, I'm glad it's all working.

That's correct; it continually records the chosen capture device and stores that audio in memory. It only maintains the last x seconds of audio, as defined by the duration drop down.

All recordings are local to the user's machine, and not accessible by me.

- Clip Audio, stores the audio in memory, and then upon pressing the action writes it to a file.
-

[2021-04-27 18:02] #34 closed

[2021-04-28 14:29] arcanatigris opened #35 "Cannot change audio device back to default"
The default audio device is not available in the audio device list

Would be useful if incase wanna switch from a virtual output to your current default audio device

[2021-04-28 16:14] GeekyEggo commented on #35
Hi @arcanatigris, the option for default devices has been added as part of #28, but hasn't yet been released. If you'd like, I'd be more than happy to send you a beta version that includes the changes?

[2021-05-11 20:45] NadirBourazza opened #38 "Play first file in folder"
Hi,
Just recently got SoundDeck and I think it's great,
I was wondering would it be possible to add functionality to point the play sound to one folder and always play the latest file. The reason I think this feature would be great is so that we can couple it with Clipping audio. We would be able to clip the audio and play back the latest clip to friends, etc.

[2021-05-15 13:59] GeekyEggo opened #39 "New action, "Play Folder""
## Purpose

This issue aims to centralize the discussion of adding a new action that allows users to play audio from a folder.

## Overview

It should be possible, from a new action, to select a folder, and then play audio from that folder when pressing the action. The action should provide a lot of the functionality seen within the existing "Play Audio" action, i.e. device selection and playback

[2021-05-15 14:00] GeekyEggo commented on #38
Hey @NadirBourazza, this is a great suggestion, and one that I think could easily be added to the new "play folder" action. As there are other issues discussing this, I've created a new issue #39, aimed at centralizing the conversation. I'll be sure to post any updates!

[2021-05-15 14:00] #38 closed

[2021-05-15 14:02] GeekyEggo commented on #25
@finnsea no updates on this yet sadly, however as there is a growing interest I have created #39 to centralize all discussion for a new action.

[2021-05-15 14:02] #25 closed

[2021-05-15 14:06] GeekyEggo commented on #35
Closing as inactive.

[2021-05-15 14:06] #35 closed

[2021-05-15 14:07] GeekyEggo commented on #12
This has been a low priority now for over a year, and is likely to be done for now.

[2021-05-15 14:07] #12 closed

[2021-05-15 14:09] GeekyEggo commented on #6
@NadirBourazza this is something I'd really like to add too, but sadly haven't found time to work on it. The audio clipping was the first functionality ever added to the plugin, so understandably the code needs a little work. 🙈

I'm going to pump the priority to a medium in an effort to try and get something done.

[2021-05-15 15:59] cinenotstreamerz opened #40 "Toggle Option"
Would it be possible to have a toggle option on the Set app audio device, so it can switch back to the previous option. For example, I have an output for speakers, when not streaming, and when I am streaming, I switch to a different output. Currently this is on two buttons but it would be great if it could be a toggle perhaps?

[2021-05-16 20:32] GeekyEggo commented on #40
Hey @cinenotstreamerz, this should be achievable with a `Multi Action Switch` (found under the "Stream Deck" category). The action allows you to create 2 sets of multi-actions, or in this case, 2 single actions.

[2021-05-19 13:09] #33 closed

[2021-05-19 13:09] #40 closed

[2021-05-19 13:11] cinenotstreamerz commented on #40
Hey, that worked! Thank you :)

On Wed, 19 May 2021 at 14:10, Richard ***@***.***> wrote:

--

Simon Conroy
Director, Amberfilm

O  01704 834465  M  07968335056
E ***@***.***
W www.amberfilm.co.uk
Skype amber.film

[2021-05-30 16:13] italiangrandma opened #41 "Fade In/Fade Out?"
It would be fantastic if we could set audio to fade in/out when button is pressed.

[2021-06-09 09:36] BlazingD opened #42 "Update 5.0"
Hello there,

I know the update just came out less than 24 hours ago but, I saw a missed opportunity when I watched the update video and actually went through the new Music tab. I saw that there is no native way to play the songs that they have on a loop without a work around by using multi-action and delays. I found your app just to see if there is an app already available that does just that.

[2021-06-09 15:13] GeekyEggo commented on #42
Hey @BlazingD, I'm keen to add support for the new `.streamDeckAudio` files, and from a bit of investigation I've managed to reverse engineer the file format and get it working within Sound Deck. As a result of my findings, I did discover a minor bug with regards to how I'm handling files, so will look to address that too.

I'm hoping to have a release by the end of the week, it would be great if

[2021-06-09 15:15] GeekyEggo commented on #41
Hey @italiangrandma, thanks for your feedback; I'll look into how I could best implement this. The settings window is quite small, so I'm not sure how to best display the options for this, i.e. is it a fixed fade in/out of x seconds, or can a user select their preferred fade times. As a first pass I could make it a fixed fade in of 0.5s / 1s, and work from there. I'll add it to the todo list. :)

[2021-06-09 15:18] GeekyEggo commented on #30
Temporarily removing milestone to enable adding support for #42.

[2021-06-09 19:59] italiangrandma commented on #41
Cool! Since there is a scroll bar, wouldn’t it be fine to just add that option on a new row? It would be great if we could toggle the duration of the fade in/out! Thanks for taking a look!

[2021-06-09 23:47] GeekyEggo commented on #42
@BlazingD I have added preliminary support for Stream Deck Audio files; if you have some time, I'd be really grateful if you could do some testing on it, and let me know if you have any problems.

_[Download Sound Deck 2.1.0-beta](https://github.com/GeekyEggo/SoundDeck/raw/42-StreamDeckAudio/dist/com.geekyeggo.sounddeck.streamDeckPlugin)_.

[2021-06-10 00:09] BlazingD commented on #42
Hey sorry for the late response. I would love to try out this tonight actually. I will stream in about an hour so I will try to set it up and test it out.

[2021-06-10 00:23] GeekyEggo commented on #42
Awesome; one thing to note, if you find you’re having problems playing files, try copying them to a different location (Stream Deck might be locking them).

[2021-06-10 01:28] BlazingD commented on #42
Ok cool gotcha!

[2021-06-11 20:15] ryantheleach commented on #42
Surprising speed on the RE!

It's a wonder that Elgato didn't provide an interface and API for plugin authors to interact with their new store. You'd have thought if they had bothered obfuscating it this deeply, that they would have attempted to remove (honest) incentive to do so.

I'm forced to wonder whether the SD does any dialling home when it plays the sounds back itself, because if they have

[2021-06-11 20:26] GeekyEggo commented on #42
It would've been a welcome addition, that's for sure; having looked under the hood, the new store is making API calls to what appears to be public endpoint, so people _could_ interact with it, but it would be subject to change at any time.

Not from what I could see.

I do also wonder _why_ Elgato chose to implement the encoding the way they did; for some insight, the `.streamDeckAudio` files are

[2021-06-11 20:56] ryantheleach commented on #42
An educated guess is they were forced to not distribute the 'raw' files as-is in order to acquire their license.
I havn't read through any licensing regarding this, (you were damned fast) Presumably the licensor care a little less about MP3's then wav's (as their normal audience cares quite a bit more about quality then most streamers), but probably assumed they would audio watermark the previews

[2021-06-14 06:52] BlazingD commented on #42
So, after using the plugin through different use cases everything works fine.

[2021-06-18 04:34] XStateAlchemist commented on #6
Hey there, I was looking to inquire about this same thing, to be able to hear the clips as well as play them for others. With the priority label being removed, is this something that is off your radar for the foreseeable future?

[2021-06-20 16:55] GeekyEggo commented on #6
@XStateAlchemist, support for multi-devices is something I would love to add, both for clipping/recording and playing, but sadly right now my time has become limited. I'm going to leave this open in the hope I'm able to find time to implement something. :)

[2021-07-20 06:57] bazwalt opened #43 "Can't clip when 'Encode to MP3' is selected."
There's about a 1/100 chance that I can ever make a clip when the encode option is enabled.

If 'encode to mp3' is enabled it will maybe once and then it will either not work at all or it will take several minutes (read: 10-15 minutes or more) before I can use it again.

[2021-07-22 16:14] GeekyEggo commented on #43
Hey @bazwalt, the encoding currently utilizes the built in Windows Media Foundation functionality; could I ask a couple of questions to understand better how you're using the action;

- Is the action part of a multi-action button.
- Does "Encode to MP3" work for the "Record" audio action.
- What OS build of Windows are you running.
  - This can be found be pressing `Win`, typing "About", and selec

[2021-07-27 08:32] Kimmno opened #44 "Cant use pluggin at all"
Anytime I record something it gets deleted as soon as I end the recording. the file turns into a .tmp file rather I use the "encode to mp3" or not then just disappears. After a few attempt the "capture device" drop down goes blank and then I'm unable to use the drop down at all to select a capture device. I am completely unable to use the clip audio feature. when I press the button I just get a ye

[2021-07-27 12:29] GeekyEggo commented on #44
Hey @Kimmno, sorry you’re having problems with Sound Deck; the drop down not populating is likely a result of the plug-in crashing, which might be happening as a result of failing to encode to MP3.

You’re the second person to report an issue with encoding this week, so I’m going to look into changing how encoding works - I’ll update you here when something is available.

In the meantime, are you

[2021-07-27 20:24] Kimmno commented on #44
Thanks! and no it does the same thing if I have the encode to mp3 checked or not.

[2021-07-27 21:29] GeekyEggo commented on #44
That's unusual; if you navigate to `%AppData%\Elgato\StreamDeck\logs\` in Windows explorer, are there any files named `com.geekyeggo.sounddeck.log`?

[2021-07-27 23:49] Kimmno commented on #44
i have 4. they are
com.geekyeggo.sounddeck0
com.geekyeggo.sounddeck1
com.geekyeggo.sounddeck2
com.geekyeggo.sounddeck3

but no com.geekyeggo.sounddeck.log

[2021-07-27 23:54] GeekyEggo commented on #44
They’re the ones; could you zip them and add them to this issue? They’ll hopefully offer some insight into what’s going wrong.

[2021-07-29 02:03] Kimmno commented on #44
[logs.zip](https://github.com/GeekyEggo/SoundDeck/files/6897448/logs.zip)

[2021-08-30 13:48] CheeseMan12 opened #45 "Play/Pause?"
Under actions, I don't see a Play/Pause option. Is this not possible? I would like to Play/Pause/Play a track in a sequence.

Example use case: When streaming, switching to one scene using a Multi-Action on the StreamDeck would pause the music, and then returning to that scene would resume (play) the music (using another Multi-Action).

[2021-09-02 13:03] GeekyEggo commented on #45
This won't be achievable with a separate multi-action button; this is due to "play audio" actions not being able to access the playlists, or audio being played, by other "play audio" actions. Sadly there is currently no plan to introduce shared playlists.

If there were a "Play/Pause" option, would you be able to setup your desired behaviour on a single multi-action button?

[2021-09-08 06:24] AndrewLouisA4E opened #46 "Set App Audio Device doesn't shows any device :("
The only function that Sound Deck isn't working here, is the Set App Audio Device, I can change the title, process but Audio Device does not have any of my audio devices, shows nothing :c

[2021-09-08 09:16] GeekyEggo commented on #46
Hmm, this is odd, are you able to see the audio devices in the settings for a “Play Audio” action?

[2021-09-08 16:17] #32 closed

[2021-09-08 16:19] GeekyEggo commented on #32
Trace logging has been added for;
- Play Audio
- Record Audio
- Clip Audio
To enable trace logging;
1. Within `%APPDATA%\Elgato\StreamDeck\Plugins\com.geekyeggo.sounddeck.sdPlugin\appsettings.json`.
2. Setup `Logging:LogLevel:Default` to `Trace`.
Logs are saved within the local plugin folder, under the logs folder.

[2021-09-08 17:07] AndrewLouisA4E commented on #46
Yeap, Play Audio works fine, I send a screenshot below of my problem

The problem below
![image](https://user-images.githubusercontent.com/90305728/132553567-59e31ff7-d485-4bb2-9cbb-0ee5859c7e77.png)

Play Audio working fine
![image](https://user-images.githubusercontent.com/90305728/132553682-8999d724-aa94-4500-93ac-ec30ef458591.png)

[2021-09-08 18:04] GeekyEggo commented on #46
This is strange, as under the hood they use the same code, with the exception of a minor difference. Out of curiosity, what is your default communication device? And is it a virtual or physical device.
As part of #32 I’ve added some extra logging capabilities. I’m going to update areas that this ticket impacts to allow for better insight into what’s going on.

[2021-09-08 18:29] AndrewLouisA4E commented on #46
My default communication device
![image](https://user-images.githubusercontent.com/90305728/132564622-d65e9868-b750-4ad2-8050-df74748c8e17.png)

I guess they're virtual cable cause GO XLR created these audio lines but the GO XLR is physical.

[2021-09-08 18:40] GeekyEggo commented on #46
The GoXLR are physical, but that should work fine as I’m running a GoXLR too. Once I’ve got some extra logging in, would you be okay to run a beta version of the plug-in? I’ll post a link here when available.

[2021-09-09 00:20] GeekyEggo commented on #46
@AndrewLouisA4E, the latest beta, v2.1.3, includes more logging, hopefully sufficiently so to provide more insight in to what is happening. It would be great if you could;

1.  Download and install the latest beta version from here, [com.geekyeggo.sounddeck.streamDeckPlugin](https://github.com/GeekyEggo/SoundDeck/raw/main/dist/com.geekyeggo.sounddeck.streamDeckPlugin)
1. Attempt to add a "Set App

[2021-09-09 02:05] AndrewLouisA4E commented on #46
Ok, check below :)
[sounddeck.log](https://github.com/GeekyEggo/SoundDeck/files/7132800/sounddeck.log)

[2021-09-09 12:04] GeekyEggo commented on #46
Thanks @AndrewLouisA4E, this looks to be an interoperability issue, i.e. one with Windows. I have created a fallback for the problem in the hopes of resolving it. Beta [v2.1.4](https://github.com/GeekyEggo/SoundDeck/raw/46-AppAudioInterop/dist/com.geekyeggo.sounddeck.streamDeckPlugin) can now be downloaded. Once installed, could you please follows steps 2 and 3 again.

[2021-09-09 14:02] GeekyEggo commented on #44
@Kimmno, the latest beta version, [v2.1.4](https://github.com/GeekyEggo/SoundDeck/raw/46-AppAudioInterop/dist/com.geekyeggo.sounddeck.streamDeckPlugin) includes much more logging. If you continue to encounter problems, please upload the log files, located at `%appdata%\Elgato\StreamDeck\Plugins\com.geekyeggo.sounddeck.sdPlugin\logs\sounddeck.log`, and I will take a further look.

[2021-09-09 14:03] GeekyEggo commented on #42
Closing, merged as part of 8706a9c93dd54c926c9ccc42a0ab5e124a09c4d6.

[2021-09-09 14:03] #42 closed

[2021-09-09 14:31] GeekyEggo commented on #43
Closing due to inactivity.

[2021-09-09 14:31] #43 closed

[2021-09-10 10:42] AndrewLouisA4E commented on #46
WORKED! :D Thanks!
![image](https://user-images.githubusercontent.com/90305728/132841555-d937a1c1-c614-4b48-a4a7-4e8a2e532be7.png)

[sounddeck.log](https://github.com/GeekyEggo/SoundDeck/files/7143242/sounddeck.log)

[2021-09-10 12:02] GeekyEggo commented on #46
Fantastic news! Thanks for letting me know, @AndrewLouisA4E.

[2021-09-10 13:11] GeekyEggo commented on #46
Closed by bc8054fdfcb08460baf4edb5926ae74268048582.

[2021-09-10 13:11] #46 closed

[2021-09-10 14:32] #30 closed

[2021-09-12 11:29] GeekyEggo commented on #46
@AndrewLouisA4E, question, are you running Windows 11? This change has resolved the issue for someone else, and I’m trying to identify if changes in Windows 11 are the root cause.

[2021-09-12 15:10] AndrewLouisA4E commented on #46
Hi @GeekyEggo, yes I'm using Windows 11

[2021-10-07 13:30] texaszman opened #47 "Expecting Audio Device in Windows 11 / 5.1 dropdown - get Blank / No Choices"
Using Sound Deck to change audio - Audio Device choice drop down remains empty.  Stream Deck 5.1

Using 'Play Audio' or other buttons DOES show Audio Device.

[2021-10-07 14:49] #47 closed, assigned to nobody

[2021-10-17 10:18] D0nky opened #48 "Add option to reset to default device"
This plug-in is life changer, but it could be even better with a "default windows device" option in the device list.
With few different device, it could be a pain to manage few apps, it would be useful to be able to reset to default device.

[2021-10-17 15:31] GeekyEggo commented on #48
Hey @D0nky, I appreciate the kind words, and you taking the time to provide feedback. Some actions within Sound Deck allow for the default device to be selected from the devices list; could I ask which actions you're particularly interested in? I'd like to expand this option further, so it would be great to understand the areas that would benefit you.

| Action | Playback Device | Recording Device

[2021-10-17 15:31] GeekyEggo commented on #45
Closing to inactivity; please feel free to re-open if you have any further questions.

[2021-10-17 15:31] #45 closed

[2021-10-17 15:35] GeekyEggo commented on #44
Closing to inactivity, but please feel free to comment and if you wish to discuss things further.

[2021-10-17 15:35] #44 closed

[2021-10-17 16:48] GeekyEggo opened #49 "Reduce memory usage"
## Setup
- Clip actions are buffering for 4 different devices.
- All buffers have a duration of 30 seconds.

## Background
Given the above scenario, the memory usage of Sound Deck is ~240MB to ~260MB, which is quite high given that the average 30 second clip requires approximately 10-15MB of uncompressed bytes.

## Change
Sound Deck currently uses a buffer based on time; instead, it should use the

[2021-10-17 17:22] D0nky commented on #48
Oh i forgot to specify the action, sorry. I was talking about "Set App Audio Device".
It seems that i'm supposed to select default playback device, but i can't see it in the list.
![image](https://user-images.githubusercontent.com/29195994/137637994-1ba197ee-44af-40df-9cb8-e5a66cbede78.png)

[2021-10-18 00:41] GeekyEggo commented on #48
So, it would appear that I’m well overdue a new release; these changes were added in April of this year, i.e. a long time ago, however… the last release on the Elgato store was February. 😅

You can download the most up to date beta directly from [here](https://github.com/GeekyEggo/SoundDeck/blob/main/dist/com.geekyeggo.sounddeck.streamDeckPlugin?raw=true) to gain access to this functionality now.

[2021-10-27 21:48] #48 closed, assigned to nobody

[2021-11-01 08:44] Loco360 opened #51 "Windows 11 Dropdown not available"
It is not possible to see the dropdown with windows 11. Tried deinstalling and reinstalling. The devices are not shown in the dropdown...

![image](https://user-images.githubusercontent.com/47069874/139645542-8bd6e294-28ab-4856-ae4a-0e9ee546f182.png)

[2021-11-02 22:12] rikward commented on #51
I'm having this issue as well.  I have other plugins which also list audio devices (such as BarRaider's Audio Meter) which continue to work under Win11.

I cloned the plugin to have a look to see if I could fix this myself, but unfortunately the _react-sharpdeck_ library doesn't seem to be available, which means I can't (easily) build the Solution.

[2021-11-02 22:23] GeekyEggo commented on #51
Hey @Loco360, sadly this is a known issue which requires low-level understanding of Windows 11; sadly I'm unable to debug Windows 11 issues atm, but I'm working on having access to an environment to hopefully find a solution.

@rikward this stems deeper than just displaying the devices list, as other actions within Sound Deck are working fine on Windows 11. There are interoperability changes to Wi

[2021-11-02 22:28] GeekyEggo opened #52 "Set app audio device not working on Windows 11"
## Description
* The devices list does not load for the "Set app audio device" action on Windows 11.
* The "Set app audio device" fails with a warning icon on Windows 11.

## Cause
There were interoperability changes to Windows 11 that are resulting in Sound Deck being unable to instantiate the [`IAudioPolicyConfigFactory`](https://github.com/GeekyEggo/SoundDeck/blob/main/src/SoundDeck.Core/Intero

[2021-11-02 22:29] GeekyEggo commented on #51
Moving this conversation to #52 to track this better.

[2021-11-02 22:29] #51 closed

[2021-11-03 00:09] GeekyEggo commented on #52
Quick update; this evening I updated to the Windows Insider program to get access to Windows 11. I've located the bug, and will be working on a fix tomorrow.

[2021-11-03 21:50] rikward commented on #52
For what it's worth, I checked this out, built it (minus the UI) and it's working again for me :)

Thanks! :D

[2021-11-03 21:54] GeekyEggo commented on #52
That's great news, appreciate you testing it, @rikward. Once I've tested it's still working on Windows 10, I'll release a new version on the official store.

[2021-11-09 18:36] Loco360 commented on #52
You know when the update is ready? @GeekyEggo

[2021-11-09 18:46] GeekyEggo commented on #52
@Loco360 I haven't had a chance to test Windows 10 yet sadly; you can however download the beta version directly. This will include the fix for Windows 11. ([download link](https://github.com/GeekyEggo/SoundDeck/raw/52-win11/dist/com.geekyeggo.sounddeck.streamDeckPlugin))

[2021-11-15 20:57] GeekyEggo commented on #52
Merged to main.

[2021-11-15 20:57] #52 closed

[2021-11-15 21:20] GeekyEggo opened #53 "Stream Deck audio files sound clippy"
_Pending info_

[2021-11-17 21:33] GeekyEggo opened #54 "Allow selecting default device for actions that capture audio"
## Story

It should be possible to select default devices as part of actions that are capable of capturing audio.  The audio being captured should correctly record if the default device changes in Windows.

Possible default devices are:
- [x] Default playback.
- [x] Default (Communications) playback.
- [x] Default recording.
- [x] Default (Communications) recording.

## Affected Actions
- [x] Clip

[2021-11-18 00:15] GeekyEggo opened #55 "Clip audio fails on initial setup"
## Replication Steps

1. Create a "Clip Audio" action.
2. Select a capture device (NB. there cannot be another action on the Stream Deck capturing the same device).

## Expected Results

- The "Clip Audio" action does nothing until a capture device, duration, and output path have been specified.
- When all options are present, pressing the action results in the clip saving.

## Actual Results

- A

[2021-11-18 00:21] #55 closed

[2021-11-18 00:32] GeekyEggo opened #56 ""Clip Audio" actions only start recording when they become visible"
## Replication Steps

1. Create a "Clip Audio" action in a folder (set duration to 15 seconds)
2. Close Stream Deck.
3. Open Stream Deck.
4. Wait 15 seconds.
5. Navigate to the "Clip Audio" action, and press it.

## Expected

- The last 15 seconds of audio should be captured.

## Actual

- The audio buffer is initialized when the action becomes visible, and therefore starts recording later

## Pro

[2021-11-20 23:09] GeekyEggo opened #57 "Improve CI and scripts"
The current usage of NPM scripts, combined with OS specific environment variables, makes the project very unwelcoming. This should be streamlined.

[2021-11-22 17:58] GeekyEggo commented on #57
Merged into main

[2021-11-22 17:58] #57 closed

[2021-11-24 16:57] ManaHime commented on #52
I'm having this issue with latest Windows 11 and
Stream Deck version: 5.1.3.14750
Sound deck version: 3.0.2

When I press the button to change the forground app audio device the only thing that happens is that there is a triangle with a exclamation mark that appears on the stream deck button.
Is this normal?

[2021-11-24 17:40] GeekyEggo commented on #52
@ManaHime that's odd, let's see if we can determine what might be causing the problem.

1. Is this a new action, or a previous action?
2. Is the "Audio Device" correct in the action settings? (Windows 11 is frequently resetting device IDs, so you may need to re-select it).
3. What application are you trying to set the device for?

[2021-11-24 18:35] ManaHime commented on #52
1: I tried creating a new action because the previous actions did not work.
2: I have noticed this so I usually make sure to look at the audio devices when I restart my computers (otherwize they'll default to something I don't want to use, like the wireless adaptor for my wireless headphones)
3: I've tried both Chrome, Discord and Parsec.

So I just
1 create a new action
2 then set the audio devic

[2021-11-24 18:37] GeekyEggo commented on #52
If you're happy to, would you mind uploading your log files; they can be found here: `%APPDATA%\Elgato\StreamDeck\Plugins\com.geekyeggo.sounddeck.sdPlugin\logs`

[2021-11-24 19:38] ManaHime commented on #52
Thank you so much for your help.
It turns out that somehow now this is working correctly with Parsec and Discord (go figure... I blame murphy's law); however, Chrome is still messing up for some reason.

[SoundDeck.log](https://github.com/GeekyEggo/SoundDeck/files/7598347/SoundDeck.log)

[2021-11-24 20:05] GeekyEggo commented on #52
Thanks @ManaHime; this _might_ be related to applications that use multiple processes. Nothing jumps out in the logs, but I'm going to add a bit more information so that should it happen again in the future we'll know more. Hopefully for now though, your problem is fixed 🤞

[2021-11-24 20:13] ManaHime commented on #52
@GeekyEggo Thank you so much for the help!
Not having the ability to change the device for Chrome (and Edge... though I don't use Edge) is a little troublesome, but the really important thing for me really was Parsec, and since that works I really don't mind about anything else ＾＾

I'll post again if I find more information ＾＾

Thank you very much!

Mana

[2021-11-24 20:45] GeekyEggo commented on #52
@ManaHime out of curiosity, does Chrome work if you configure the action to use "By Name", with "chrome" as the name value.

[2021-12-08 07:26] mansman12 opened #58 "Add Textfile Output for Currently Playing Audio"
As a streamer it would be useful to have the currently playing audio file output the title and artist to a textfile which could then be picked up a program like OBS to display on stream.

Is that something that is possible?

[2021-12-08 19:08] #54 closed

[2021-12-09 03:48] mansman12 opened #59 "Stop Audio button doesn't stop audio for Play All/Stop, Loop All/Stop and Loop All/Stop (Reset) actions"
For actions like Play All/Stop, Loop All/Stop and Loop All/Stop (Reset), the Stop Audio button just moves on to the next track in the queue rather than ending the audio.

Is this intended functionality?

[2021-12-10 18:48] GeekyEggo opened #60 "Add overlap option to play audio"
In the interest of chaos, it would be fun if the "play audio" action could be continuously pressed to play the audio files in the playlist. The action would be labelled "Play / Overlap", and pressing the button would play the next track, with no regard for the current.

Should we need to stop the chaos, the "Stop Audio" action should stop all audio.

[2021-12-11 13:10] GeekyEggo opened #61 "Volume control of sampler playback"
Add the ability to control the volume of the playback of a sampler; this should be achieved via a slider, similar to the play action playback.

[2021-12-19 17:57] GeekyEggo commented on #59
@mansman12 I've tested this with the current release, and I'm able to replicate the problem you're encountering. This isn't how the stop audio action should be functioning, my apologies.

As part of #60 I've made some changes to stopping audio; would you mind testing a beta release ([download link](https://github.com/GeekyEggo/SoundDeck/raw/60-overlap/dist/com.geekyeggo.sounddeck.streamDeckPlugin)

[2021-12-19 18:01] GeekyEggo commented on #58
Hey @mansman12, as part of #32 logging was added, so it's certainly possible to write to a file. Currently there's no way to specify _just_ write the file name, nor the file. I'm working on some new actions atm, but will add this to the backlog.

[2021-12-19 21:57] #60 closed

[2022-01-05 11:03] mansman12 commented on #59
@GeekyEggo I've tested the beta release and can confirm that the stop audio action now stops all audio from the play all and loop all actions.

[2022-01-05 11:08] mansman12 opened #65 "Switching Back to source Profile/Page in Stream Deck Stops Audio"
As above, to re-create the issue:

1. Create two profiles or pages (A and B) and add a play action (any action will work) on profile/page A with any music.
2. Use the play action button and navigate to profile/page B (via an assigned Stream Deck button or via the desktop app)
3. Navigate back to profile/page A
4. Audio ends

I can confirm that this happens in both the current release and the beta

[2022-01-05 16:15] #59 closed

[2022-01-05 17:01] mansman12 commented on #65
Issue persisted for any actions created using the current version. By deleting and re-creating the action the issue looks to be solved in the following two cases:

- Action on a profile/page
- Action as part of a Stream Deck Multi-Action button

Thanks for taking a look at it!

[2022-01-05 17:09] mansman12 commented on #65
Related to the above (have yet to test the current version), 3.5.3-beta seems to have an issue where the volume set for individual tracks doesn't persist.

Can be re-created by just changing the volume of a track assigned to an action and then clicking the gear twice (always reverts to 75).

[2022-01-05 18:59] GeekyEggo commented on #65
That's what I get for rushing, d'oh! [3.5.4-beta](https://github.com/GeekyEggo/SoundDeck/raw/65-action-disposal/dist/com.geekyeggo.sounddeck.streamDeckPlugin) should resolve that!

[2022-01-05 23:30] mansman12 commented on #65
No worries! Tested 3.5.4-beta and can confirm that the switching bug and volume bug are both fixed in this version.

[2022-01-05 23:42] GeekyEggo commented on #65
Great news, thanks @mansman12.

[2022-01-05 23:44] #65 closed

[2022-01-09 19:27] #61 closed

[2022-01-10 17:17] moonlightonion opened #67 "Looping Samples?"
It would be awesome if there was a way to loop samples captured in the sampler!

[2022-01-10 17:26] GeekyEggo commented on #67
Hey @moonlightonion, hopefully what you're looking for is already supported in Sound Deck;

1. Select the sampler action you want to loop.
2. Scroll to the bottom of the settings window.
3. For the "Action" option, select "Loop / Stop".

With this option selected, pressing the button once will continuously loop the sample. Pressing the button again will stop the loop.

[2022-01-10 20:25] Frankiemagic13 opened #68 "PLEASE ADD MAC SUPPORT"
I ech virtual shows and work production and but im on a mac can you please add support for macthank you so much

[2022-01-10 20:36] GeekyEggo commented on #68
Hey @Frankiemagic13, I would absolutely love to provide Mac support, but sadly it would require a lot of changes. The plug-in is designed with Mac in mind, but as I'm unable to test any efforts, i.e. I develop on Windows, this would be too difficult at this stage. My apologies.

[2022-01-10 20:36] #68 closed

[2022-01-10 21:47] moonlightonion commented on #67
Thank you so much for letting me know this, sorry to take up your time!

[2022-01-10 21:47] #67 closed

[2022-01-10 22:30] GeekyEggo commented on #67
Honestly no need for apologies, I’m happy it solved your problem. 😄 If you have any suggestions please don’t hesitate to post them.

[2022-01-13 12:06] GeekyEggo opened #69 "Fix default volume setting differing from pi / plugin"
When creating a "Set Audio Device Volume" or "Set App Volume" action, the volume value is not correctly being set.
- [ ] Set Audio Device Volume
- [ ] Set App Volume

[2022-01-16 17:22] #69 closed

[2022-02-03 22:28] Barweezle opened #72 "VoiceMod and Mic Support for Sampler"
@GeekyEggo  I have personally been loving the Sound Deck plug-in for Elgato... Only thing is I would love to be able to choose different Mic choices as an Output. I currently use voicemod for most and getting the sample to play through Mic would be fantastic! Or to set up Multiple outputs at once so it could be possible to send out a sample through  mic > voicemod > discord. I personally utilize t

[2022-02-03 22:55] GeekyEggo commented on #72
Hey @Barweezle, thanks for the kind words, and the detailed description.

If I’m understanding correctly, you’d like to have a way of playing back a sampler that yourself and your stream can hear it?

Although this could definitely be achieved with multiple output sources in Sound Deck (ref #6), I think we might be able to achieve this with your current setup given the Wave:3.

In Wave Link, are t

[2022-02-03 23:23] Barweezle commented on #72
Thank you for the very quick response. I'm going to do a bit of trouble
shooting with the new information. As of right now the shared input and
output is only the Voicemod software. Setting the "Playback Device" to
voicemod sends the sampled sound through my mic. In which my Party chat can
be heard as well as the stream but, I cannot. I didn't see the Multiple
Output Sources ref #6 section. I appr

[2022-02-03 23:34] GeekyEggo commented on #72
output is only the Voicemod software

Hmm, I’m a little surprised by this; which input device are you using for things like game audio or stream alerts?

in the future?

Of course! We’ll find a solution.

[2022-02-04 21:09] Barweezle commented on #72
As of right now, My system settings are set to
Output  "Wave Link System" - Told to assign when setting up Wave 3 mic.
Input - "Wave Link Microphone"

After setting those as the main Input and output. I have to set Voicemod to
Input "Wave Link Microphone" and the Output is directed to the "Wave Link
SFX" section of the software.
     The Wave Software has built in splitters to send my outputs to
d

[2022-02-07 18:56] GeekyEggo commented on #72
Your configuration sounds correct.

Would I be correct in saying Wave Link adds audio devices similar to the GoXLR? (press `Win`+`R`, and enter `control.exe /name Microsoft.Sound`).

![image](https://user-images.githubusercontent.com/1429781/152852028-88fef65d-404e-4c21-8ca7-44ada2625c17.png)

If so, it should just be a case of routing the devices to the correct channels. In the context of a GoXLR

[2022-02-20 01:24] GeekyEggo commented on #72
Hey @Barweezle I’m going to close this as it’s gone quiet; I’m happy to discuss it further if needed though.

[2022-02-20 01:24] #72 closed

[2022-02-20 02:14] Barweezle commented on #72
I'm so sorry for the quietness. I was very swamped and busy. Dealing with
OBS crashes and so many other issues I haven't been able to figure out the
fix yet. wave link doesn't have a "sampler" output sadly to choose from and
a work around is rough. I would need to definitely screenshot and send
images of my set up after this OBS update fix due to everything being
broken. I'm sorry for the inconven

[2022-03-02 05:38] el-moxie opened #73 "Play/Restart Action on Sampler Recordings"
I'm wondering if there was any future updates to the actions within the Sampler, specifically the Play/Restart option to allow you to mash the button several time getting a repeating action on the the sample.

I know this is available through the built in soundboard: play audio option, if that helps any.

Maybe I'm just missing it but I think it would be a great feature to be able to do this.

[2022-03-03 19:57] GeekyEggo commented on #73
Hey @el-moxie, the latest beta includes a lot of improvements to the sampler; I think what you're aiming for is available as part of these changes. You can download the latest beta directly from [here](https://github.com/GeekyEggo/SoundDeck/raw/main/dist/com.geekyeggo.sounddeck.streamDeckPlugin) and try it.

[2022-03-05 20:21] el-moxie commented on #73
Hey Geeky.. I installed the beta and noticed there is a new "play/overlap" option but that just repeats the sample. Having the ability to preset the button and have it restart was what I was thinking about so when you do it, it sounds like "S..S...S...S..Sampling is fun!"

[2022-03-05 20:31] GeekyEggo commented on #73
This should be achievable with the "Play/Next" option; it's a little misleading as it's designed for playlists, but essentially a sample is just a single-file playlist, so it will play the same again on re-press.

[2022-03-13 23:18] mike-mo commented on #41
+1 Fade out on stop would make SoundDeck usable in more situations.

If you had a basic implementation with a fixed time (3s is a good balance) we can help make UI for it.

[2022-03-19 07:57] wizard04wsu opened #74 "Actions missing"
I don't see all 11 actions in the list. These are not available:

- App Media Controls
- Set App Volume
- Set Default Audio Device
- Set Audio Device Volume

I have Sound Deck v3.0.2 installed in Stream Deck v5.2.1 using device CORSAIR G-Keys v4.20.169.

![image](https://user-images.githubusercontent.com/695638/159112744-d65c2b0b-7ba3-4ae6-9792-7eb836704aa7.png)

[2022-03-19 17:07] TheNgbaka opened #75 "Input"
I only have options for switching output devices. Does this not support switching microphone inputs?

[2022-03-20 16:57] GeekyEggo commented on #75
Changing output (recording devices) is possible in the latest beta version; you can download it from [here](https://github.com/GeekyEggo/SoundDeck/raw/main/dist/com.geekyeggo.sounddeck.streamDeckPlugin). Please let me know if this fixes the issue.

[2022-03-20 16:57] GeekyEggo commented on #74
All actions are available within the beta, which isn't yet on the Elgato Store, but can be downloaded directly from [here](https://github.com/GeekyEggo/SoundDeck/raw/main/dist/com.geekyeggo.sounddeck.streamDeckPlugin). Please let me know if this fixes the issue.

[2022-03-21 21:56] TheNgbaka commented on #75
Perfect. Thanks. Best iteration I have ever found. Simple and it works. Have been looking for an effective way to switch my mics in discord from headset to desktop for a long time. The "set default audio device" does not work for this with discord in anyone's app or plug in, including yours (without using hidden windows hot keys), but your "set app audio device" solved the issue. You are a life sa

[2022-03-24 21:00] #74 closed

[2022-03-30 14:51] thedanholt opened #78 "Add play/fade as action to play audio"
Play/fade would allow a second press of the button to fade out the audio over say 1, 2 or 3 seconds. Currently closest option is play/stop but this stops the audio sharply rather than subtly.

![image](https://user-images.githubusercontent.com/77852497/160864023-b6defc48-c4f4-415a-acbe-85d7a8adbb08.png)

[2022-04-08 14:56] GeekyEggo commented on #78
Hey @thedanholt, thanks for the feedback; fading has been suggest previously, but this approaches it in a different way, i.e. fading / blending tracks, which I quite like. At the moment I don't have much time to invest in new features, but hopefully when time becomes available, I'll see what I can do. 👍

[2022-04-08 14:57] GeekyEggo commented on #73
Closing due to inactivity, but happy to discuss further if required.

[2022-04-08 14:57] #73 closed

[2022-04-08 17:03] kekev2001 opened #79 "Set app audio device not switching over to other playback"
hello i if i set mij Process bij name like Discord.exe and if i click the button it wil not go to a another audio device

[2022-04-08 17:26] QuantaCat opened #80 "Toggle Loop // Loop Per File setting"
I would like a feature that lets you toggle a loop on a currently activated Play Audio node, ie. switches it from Loop/Stop or Loop All/Stop to Play/Stop, and vice versa. It would let the currently looped sound end, or set loop, as the node is otherwise set up.

Alternatively (or additionally), files you load into the playlist could have their own Loop/Play Once setting, meaning they would either

[2022-04-16 17:08] kekev2001 opened #81 "Set app audio device not switching over to other audio device"
if  i setup the Proces by name to like discord.exe it is not switching over to other playback device

[2022-04-16 17:10] #79 closed

[2022-04-16 17:48] GeekyEggo commented on #81
Are you trying to control the notification audio, or the voice chat audio? As Discord controls the voice chat audio within the application it won't be possible to change that using the action. If you wish to change the notification output this can be achieved by setting the process name to "discord" or "discord.exe", and then the desired device.

[2022-04-16 17:50] kekev2001 commented on #81
i want to set the output of discord voicechat sounds and also the notify sounds on a other audio device

[2022-04-16 17:53] GeekyEggo commented on #81
### Change Discord Notification Device.
1. Create a "Set App Audio Device" action.
2. Set "Process" to be "By Name", and enter the name "Discord.exe".
3. Set the desired audio device.

### Change Discord Voice Chat Device.
1. In Discord, go to Settings > Voice & Video, and set "Output Device" to "Default".
2. In Stream Deck, create a "Set Default Audio Device".
3. Set the desired audio device.
4.

[2022-04-16 18:25] kekev2001 commented on #81
![Schermafbeelding 2022-04-16 202435](https://user-images.githubusercontent.com/56051728/163687010-a68ef554-310d-4b73-aea9-ac85603c0566.png)
![Schermafbeelding 2022-04-16 202542](https://user-images.githubusercontent.com/56051728/163687032-9a460f2a-ecf8-4670-a5a6-4ae7025692aa.png)

when i press this button the audio  ouput device stays here

[2022-04-16 21:13] GeekyEggo commented on #81
In Discord, output should be “Default”.

[2022-04-16 21:16] kekev2001 commented on #81
i did this noting changed

[2022-04-16 21:47] GeekyEggo commented on #81
Did you use the “Set Default Audio Device”? The “Set App Audio Device” won’t work for changing voice chat.

[2022-04-16 21:49] kekev2001 commented on #81
no i need to use the Set app audio device i only want discord on channel 8 and internet browser

[2022-04-16 21:51] GeekyEggo commented on #81
Try with the “Set Default Audio Device” and role as “Communication”; other applications should remain unaffected.

[2022-04-16 21:52] kekev2001 commented on #81
but it will only do discord?

[2022-04-16 21:52] GeekyEggo commented on #81
There’s one way to find out, try it. 😄

[2022-04-16 21:53] kekev2001 commented on #81
i did this also notings happend
or changed

[2022-04-22 10:50] GeekyEggo commented on #81
@kekev2001, I've done some testing and managed to get this working, here's what you'll need to do...
# Discord
- In Discord, the Output device **must** be `Default`.
- When set to `Default`, Discord uses the system's default Communication Device.

![image](https://user-images.githubusercontent.com/1429781/164689657-78fe1b35-1b99-48e9-bb52-827e5e231088.png)

# Sound Deck
- Create a "Set Default Aud

[2022-04-22 14:45] bpluhar opened #82 "Save current sample"
I would love to see if an option to save current sample is possible, either by a single button saving the last sampled audio or the last sample played, or even similar to the delete button; press save sample button and it’ll flash prompting you to select a collected sample to save to file.

Button could have a dialog to designate a folder to save samples too. Possibly support some formatting in th

[2022-04-22 14:54] GeekyEggo commented on #82
Hey @bpluhar, all samples created are saved to their chosen "Output Path" using the default format of `yyyy-MM-dd_HHmmss`, e.g. 2022-04-22_144939.wav. Hope this helps 👍

[2022-04-22 14:56] bpluhar commented on #82
Wow, had no clue, I apologize for thinking I had a unique idea! I’ll go ahead and close the issue!

[2022-04-22 15:03] GeekyEggo commented on #82
That’s no problem at all; it’s always nice being able to say it’s existing functionality, and I’m glad it helps you.

Thank you for taking the time to submit an idea. 🙌

[2022-04-22 18:11] kekev2001 commented on #81
i just did this only also this dont worked

[2022-04-22 18:18] GeekyEggo commented on #81
@kekev2001 could you record a short video showing your Discord voice settings and the Stream Deck action you’re trying with.

[2022-04-22 18:25] kekev2001 commented on #81
https://we.tl/t-mGK2VAUulF
this is the video

[2022-04-22 21:20] GeekyEggo commented on #81
@kekev2001 you're using the wrong action type; to change Discord voice chat you will need to use "Set Default Audio Device", do not use "Set App Audio Device".

[2022-04-29 22:31] GeekyEggo commented on #81
@kekev2001 did you manage to get this working?

[2022-05-02 12:16] #81 closed

[2022-05-13 11:02] Juddex opened #83 "cant select capture device for sampler or record audio"
for some reason when i try to select the capture device, it just shows a grey box, with a yellow border line.

it was working before but now it doesn't seem to work at all even tho i tried uninstalling and reinstalling the plugin.

[2022-05-13 11:08] GeekyEggo commented on #83
Hey @Juddex, I believe Windows recently released an update for .NET 4.8, which is what Sound Deck uses as the coding framework; are all available Windows updates installed?

To track down what might be causing the problem, could I ask if there are any entries relating to SoundDeck.exe in event viewer. This can be determined by doing the following:

1. Exit Stream Deck (entirely).
2. Open Stream De

[2022-05-14 10:16] Juddex commented on #83
thanks for the reply, i followed the steps and i got this error:

Application: SoundDeck.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an internal error in the .NET Runtime at IP 00007FFB729C5FC5 (00007FFB72930000) with exit code 80131506.

[2022-05-14 10:33] Juddex commented on #83
i just checked in device manager, i do believe i have 4.8 net installed, but the elgato software doesnt seem to detect it.

this is the screenshot from device manager for the net framework setup
![ev](https://user-images.githubusercontent.com/105492375/168422056-6becfb64-5bf8-4af9-8170-15f4f9a63a1b.png)

[2022-05-14 10:46] GeekyEggo commented on #83
Your version of .NET looks up to date; the “Release” entry matches the expected current version (I think).

I’ve done a bit of research into the error, and sadly it doesn’t look like an easy thing to identify or fix. Multiple articles are highlighting it’s likely cause is a corruption in memory when running garbage collection; as unlikely as it is, I’d recommend running something like memtest86 to

[2022-05-14 11:53] Juddex commented on #83
all the audio related device actions work fine

but the action from sampler to stop audio dont work at all

i only have the sampler in sdk for testing purposes when i found out i cant select the capture device

and also what do u mean by "corruption in memory when running garbage collection"

isit like computer ram problem or the elgato software problem

becuz it worked fine before then i uninstal

[2022-05-15 16:10] GeekyEggo commented on #83
ah, so the sampler action is in a separate profile? I suspect it may be related to the sampler action specifically; could I ask you to try some scenarios in an attempt to "force" the problem to occur.

## Scenario A

### Setup

1. Create a new profile.
2. Add Sound Deck's "play audio" action (and only this action).
3. Configure the action to play an audio file.
4. Temporarily set the new profile t

[2022-05-15 16:23] Juddex commented on #83
Thank u so much, I'm not at my com atm, but I will try this out when I get back and luk if it fixes the issue :)

[2022-05-21 12:14] Juddex commented on #83
@GeekyEggo at first scenario a and b still had the problem but then after scenario C did it!!!! Worked perfectly, no issues at all

just one more qn, can i now go back to my old profile and add the actions ? would they work ?

[2022-05-21 13:12] GeekyEggo commented on #83
@Juddex thanks for testing the scenarios! Just to confirm, did scenario C cause the problem, or solve it? 😅 The “clip audio” manages memory differently to others actions.

[2022-05-21 13:23] Juddex commented on #83
@GeekyEggo scenario solved the problem, thanks again a lot :)

[2022-05-21 20:11] GeekyEggo commented on #83
Awesome, glad I could help! 🥳 I’m going to close this issue, but if the problem comes back, please post in here and we’ll solve it… again, lol.

[2022-05-21 20:11] #83 closed

[2022-05-24 22:08] andrewtytula commented on #41
Additionally, it would be nice if the stop button would have a fade out option too.

[2022-08-19 04:14] vickec07 opened #86 "Can't see my microphone audio level"
^^

[2022-08-19 08:01] GeekyEggo commented on #86
Hi @vickec07, when raising please be descriptive as possible;

1. Is this a bug, or a feature request?
1. What action does it relate to?
1. Do other audio devices work okay?

Also, if there are any screenshots or videos that help demonstrate the problem, please attach them too.

[2022-08-19 08:09] vickec07 commented on #86
1. Not a feature, most likely a bug
2. Not sure
3. Other audio devices works fine

[2022-08-19 08:11] GeekyEggo commented on #86
You’re going to need to be more descriptive. How did you encounter this bug?

[2022-08-24 13:13] GeekyEggo commented on #86
Marking this as closed as there isn’t enough information to identify or replicate a possible problem.

[2022-08-24 13:13] #86 closed

[2022-08-25 20:15] Drarkusss0 commented on #6
Has there been any updates? This is something that (in my opinion) is needed.
btw nice work making this!~

[2022-08-29 12:32] Ghkdzjs opened #87 "[Set App Volume]'s bug?"
If I mute "Apex Legends" using the set app volume, the microphone I use will also be muted.

[2022-09-02 17:20] arimorcos commented on #52
@GeekyEggo I'm also having this issue, trying to switch chrome between default output and headphone chat output. Here's an image of my two configs:

![image](https://user-images.githubusercontent.com/5806252/188205714-6ff57aed-c216-4cb7-8011-6da6b29bdbf3.png)
![image](https://user-images.githubusercontent.com/5806252/188205796-035246fc-94f0-4398-8e7b-f8c3d539bbe0.png)

When I click the buttons, it

[2022-09-02 17:35] GeekyEggo commented on #52
@arimorcos, your configuration looks correct. Having recently helped a friend with audio problems relating to the Wave Link, I wonder if the problem might relate to the wireless headphones. This is purely speculation, but in her case she had two devices listed for the same wireless device; one was named "Headphones", and the other "Headset". Are there two listed for you also?

[2022-09-02 17:38] arimorcos commented on #52
@GeekyEggo, thanks for the quick reply!

My headphones have a game and a chat channel, but I don't think there are duplicated devices. I've attached a photo of the listed devices:

![image](https://user-images.githubusercontent.com/5806252/188208161-f97c342c-c556-4dda-901f-d461ab9622b8.png)

Any other thoughts? I've checked for logs but there's no logs file in %appdata%\Roaming\Elgato\StreamDeck\P

[2022-09-02 17:54] GeekyEggo commented on #52
Oh wow, that's a lot of virtual devices for a headset. 😅 Out of curiosity, does it work if you attempt to change between two wired devices, e.g. the LG monitor, and "Realtek Digital Output"?

Logs _should_ be available at `%appdata%\Elgato\StreamDeck\Plugins\com.geekyeggo.sounddeck.sdPlugin\logs`.

[2022-09-02 23:02] arimorcos commented on #52
Haha, ya most of them I never use. I actually just disabled most of the them but it still doesn't seem to work. Also doesn't for any of the other audio devices.

There was one thing in the log just now:

[code]

However, I've pressed the button and gotten a check a bunch since 15:47, and it only seemed to log an error that once even though it didn't change the output device of chrome. It also does

[2022-09-08 13:11] rootsdigger05 opened #88 "Pause button?"
Would it be possible to add a pause/continue action for currently playing audio?

[2022-09-14 12:38] kekev2001 commented on #81
not yet is there a other way to get this working

[2022-09-14 14:24] GeekyEggo commented on #81
It isn't possible to control the Discord audio (defined in Discord) via the API, AFAIK. Following the instructions listed [above](https://github.com/GeekyEggo/SoundDeck/issues/81#issuecomment-1106372211), i.e. using the "Set Default Audio Device" (and not Set App Audio Device) will work.

[2022-09-14 14:26] kekev2001 commented on #81
i also tried that notings works do you have discord so that i can show you it

[2022-09-22 19:06] AlCalamita opened #89 "Sampler Delay/Cut-off"
When using the sampler there seems to be a cut-off/latency issue.

I.e. if I count to 5 (1..2..3..4..5) and let go of the button as I finish saying 5, it seems to cut off the "5" (or only gets the first few milliseconds of it).

I have a feeling this is more of an issue with Voicemeeter as if I just use my mic input for the sampler (not via Voicemeeter) this seems to work ok.

However, as I'm want

[2022-09-23 04:28] ryantheleach commented on #89
If it's working on one device and not the other, it's more then likely that voicemeeter is adding delay that you haven't noticed to your stream, if you haven't compensated for it already.

Speaking from experience ( I paid for a license) , VoiceMeeter is one of the worst software I've had to run, and the forum claims that hardware compatibility issues don't exist, and it's people being idiots with

[2022-10-06 15:20] GeekyEggo commented on #6
@Drarkusss0 sadly there aren't any updates on this yet; I'd love to add this functionality, but sadly finding the time to has proven difficult.

[2022-10-06 15:22] GeekyEggo commented on #88
I was surprised to discover this wasn't already an option! 🙈 I'll add it to the todo list, I think it's a great suggestion.

[2022-10-06 15:24] GeekyEggo commented on #89
I think your assumptions are correct, and the mild latency caused by VoiceMeter is factoring into what's getting recorded.

Adding a "delay" option, so that the recording continues are lifting from the Stream Deck button is an elegant idea. I'll add it to the todo list.

[2022-10-16 23:41] GeekyEggo commented on #87
Closing due to inactivity, please feel free to comment if there are any further questions.

[2022-10-16 23:41] #87 closed

[2022-10-24 08:22] schmittyd opened #90 "No devices"
No devices show in `Audio Device`, `Capture Device` or `Playback Device` menus in Stream Deck 6.0 Beta.

[2022-10-24 08:24] schmittyd opened #91 "Cannot select path"
`...` button for `Output Path` does nothing in Stream Deck 6.0 Beta.

[2022-10-24 13:27] GeekyEggo commented on #91
The root cause of this problem is the same as #90; I'm going to close this and keep #90 up to date.

[2022-10-24 13:27] #91 closed

[2022-10-24 13:28] GeekyEggo commented on #90
Thanks @schmittyd; as noted on the Discord, there are currently breaking changes in the SDK which are under discussion at the moment as to whether they'll become permanent. These SDK changes break a _lot_ of plugins, including those from BarRaider and myself.

I'm going to put this on-hold until we know more from Elgato, apologies for the inconvenience.

[2022-11-12 20:58] GeekyEggo commented on #90
This is now fixed in the newer versions of the beta. 🥳

[2022-11-12 20:58] #90 closed

[2022-11-12 20:59] #53 closed